extends layout

block content
  .container
    include header
    .row-fluid 
      .span8
        ul.tweets
          each tweet in tweets
            include templates/tweet
        script
          $(function() {
            new freeWeibo.Fetcher('.tweets', #{initOffset}, #{initLimit});
            })

      .span3 
        .stats
          h3 按时间查看
          ul
            each stat in stats
              li
                a(href='/?time=' + stat.time, target='_self') #{stat.chinese}

        .hot-users
          h3 按用户查看
          ul
            each user in users
              li
                .media
                  img.pull-left(src=user.img_url)
                  .media-body
                    h5.media-heading
                      a(href='/?userid=' + user.uid, target='_self')= user.name
                    p.tail
                      粉丝人数(#{user.followers_cnt})
                      br
                      相关屏蔽(#{user.delete_attributed})
