li
  .media
    img.pull-left(src=user.img_url)
    .media-body
      h5.media-heading
        a(href='//weibo.com/u/' + user.uid, target='_blank')= user.name
      p.tail
        粉丝(#{user.followers_cnt})
        br
        关注(#{user.friends_cnt})
        br
        微博(#{user.tweets_cnt})
